<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.exmple.mysqlbatis.Mappers.AnswerMapper">
    <insert id="answerQuestion">
        INSERT into answers(questionId,content,userId)value(#{questionId},#{conent},#{userId})
    </insert>
    <delete id="deleteAnswer">
        delete from answers where id#{id}
    </delete>


    <select id="getAnswer" resultType="org.exmple.mysqlbatis.entity.Answer">
        select * from answers where questionId=#{questionId}
    </select>
</mapper>