<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.exmple.mysqlbatis.Mappers.QuestionMapper">
    <sql id="QuestionSearch">
        select id, question, classificationId, answerNum, isSolved,viewNum userid from question
    </sql>
    <insert id="insertQuestion" useGeneratedKeys="true" keyProperty="id">
        insert into question(classificationId,question,UserID,answerNum) values(
        <if test="classification!=null">
            #{classificationId},
        </if>
        #{question},#{userId}
        <if test="answerNum!=null">
            ,#{answerNum}
        </if>
        );
    </insert>

    <update id="updateQuestion">
        update question set
        <if test="question!=null">
            question=#{question},
        </if>
        updateTime=now()
        <where>
             id=#{id};
        </where>
    </update>

    <update id="updateQuestionInfo">
        update question set answerNum=#{answerNum},isSolved=#{isSolved}
        <where>
            id=#{id};
        </where>
    </update>
    <update id="updateViewNum">
        update question set ViewNum=ViewNum+1
        <where>
            id=#{id};
        </where>
    </update>
    <select id="getByQuesID" resultType="org.exmple.mysqlbatis.entity.Question">
        <include refid="QuestionSearch">
        </include>
        <where>
            id=#{id}
        </where>
    </select>
    <select id="getByUserID" resultType="org.exmple.mysqlbatis.entity.Question">
        <include refid="QuestionSearch"> 
        </include>
        <where>
            userId=#{id}
        </where>
    </select>
    <select id="getByQuesIDInBatch" resultType="org.exmple.mysqlbatis.entity.Question">
        <include refid="QuestionSearch">
        </include>
        <foreach collection="Ids" item="id" separator="," open="(" close=")">
            <where>
                id=#{id}
            </where>
        </foreach>
    </select>
    <select id="getByQuestion" resultType="org.exmple.mysqlbatis.entity.Question">
        <include refid="QuestionSearch">
        </include>
        <where>
            question=#{question}
        </where>
    </select>
</mapper>