<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.exmple.mysqlbatis.Mappers.UserBehaviorMapper">
    <sql id="update">
        update user_behavior set Question_ARR=#{questionArr}, isAns_ARR=#{isAnsArr}, isCom_ARR=#{isComArr}
    </sql>
    <sql id="insert">
        insert
    </sql>
    <insert id="insertOnlyOne">

    </insert>

    <insert id="insertInBatch">

    </insert>
    <update id="updateOnlyOne">
            <include refid="update">
            </include>
        <where>
            User_ID=#{userID}
        </where>
    </update>
    <update id="updateInBatch">
        <include refid="update">
        </include>
        <foreach collection="ubList" item="ub" separator="," open="(" close=")">
            <where>
                User_ID=#{userID}
            </where>
        </foreach>
    </update>
</mapper>